@model StoreFrontLab.DATA.EF.Product

@{
    ViewBag.Title = $"{Model.ProductName}";
}
<section class="section" id="product" style="padding-top: 3.5em;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="left-images">
                    <img style="padding-right: 1em;" src="~/Content/assets/images/products/@Model.Image" alt="@Model.ProductName">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4>@Model.ProductName</h4>
                    <span class="price">@Html.DisplayFor(model => model.Price)</span>
                    <ul class="stars2">
                        @Html.DisplayFor(model => model.StockStatus.StockStatusName)
                    </ul>
                    <ul class="stars">
                        Quantity: @Model.Quantity
                    </ul>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod.</p>
                    </div>
                    <div class="main-border-button">
                        @using (Html.BeginForm("AddToCart", "Products", new { productID = Model.ProductID }, FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.ProductID)
                            <span class="label" style="color: #b200ff;">Quantity</span>
                            @Html.TextBox("Qty", 1, new { @class = "form-control", @style = "max-width: 50px; display: inline;" })
                            <input type="submit" value="Add to Cart" class="main-border-button" name="qty" />
                        }
                    </div>
                    @Html.ActionLink("Back to Products", "Index", new { @class = "btn btn-primary" })
                    @if (User.IsInRole("Admin"))
                    {
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
                        @Html.ActionLink("Delete", "Delete", new { id= Model.ProductID })
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>