@model StoreFrontLab.DATA.EF.Product

@{
    ViewBag.Title = $"{Model.ProductName}";
}
<section class="section" id="product" style="padding-top: 3.5em;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="left-images">
                    <img style="padding-right: 1em;" src="~/Content/assets/images/products/@Model.Image" alt="@Model.ProductName">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4>@Model.ProductName</h4>
                    <span class="price">@Html.DisplayFor(model => model.Price)</span>
                    <ul class="stars2">
                        @Html.DisplayFor(model => model.StockStatus.StockStatusName)
                    </ul>
                    <ul class="stars">
                        Quantity: @Model.Quantity
                    </ul>
                    <span>@Model.Description</span>

                    <div class="main-border-button">
                        @using (Html.BeginForm("AddToCart", "Products", new { productID = Model.ProductID }, FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.ProductID)
                            <span class="label">Quantity</span>
                            @Html.TextBox("Qty", 1, new { @class = "form-control", @style = "max-width: 50px; display: inline; margin-right: 1em;" })
                            <input type="submit" value="Add to Cart" class="btn" name="qty" />
                        }
                    </div>
                    @Html.ActionLink("Back to Products", "Index")
                    @if (User.IsInRole("Admin"))
                    {
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = Model.ProductID })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>