@model StoreFrontLab.DATA.EF.Product
<html lang="en">



<body>


    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>Retired Bricks</h4>
                                <span>If we don't have it, we'll find it. </span>
                                <div class="main-border-button">
                                    <a href="@Url.Action("Index","Products")">Products</a>
                                </div>
                            </div>
                            <img src="~/Content/assets/images/homeleft (1).jpg" alt="" style="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Mini Figures</h4>
                                            <span>Singles/Packs</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Mini Figures</h4>
                                                <p>Find your favorite to add to the collection!</p>
                                                <div class="main-border-button">
                                                    <a href="@Url.Action("Index", "Products", new { searchFilter = "Mini Figure"})">See Latest</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/Content/assets/images/minifigs (1).jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Full Sets</h4>
                                            <span>No pieces missing!</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Full Sets</h4>
                                                <p>Original packaging (may be opened) and instructions included.</p>
                                                <div class="main-border-button">
                                                    <a href="@Url.Action("Index", "Products", new { searchFilter = "Full Set"})">See Latest</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/Content/assets/images/fullsets (1).jpg" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Bricks</h4>
                                            <span>Hard to find loose bricks</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Bricks</h4>
                                                <p>Baseplates, Serious Play, and loose sets.</p>
                                                <div class="main-border-button">
                                                    <a href="@Url.Action("Index", "Products", new { searchFilter = "Loose Bricks"})">See Latest</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/Content/assets/images/bricks (1).jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Storage</h4>
                                            <span>Keep track of those pesky bricks</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Storage</h4>
                                                <p>Storage and display pieces to keep you organized.</p>
                                                <div class="main-border-button">
                                                    <a href="@Url.Action("Index", "Products", new { searchFilter = "Storage"})">See Latest</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/Content/assets/images/storage (1).jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Highlights Starts ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Highlights</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="@Url.Action("Details","Products", new { id = 10})"><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="~/Content/assets/images/LegoStore.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Modular Lego Store</h4>
                                    <span>$360.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="@Url.Action("Details","Products", new { id = 1})"><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="~/Content/assets/images/LegoDubai.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Dubai</h4>
                                    <span>$59.99</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="@Url.Action("Details","Products", new { id = 1028})"><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="~/Content/assets/images/Connections.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Connections Kit</h4>
                                    <span>$754.99</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="@Url.Action("Details","Products", new { id = 2})"><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="~/Content/assets/images/Bookshop.jpeg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Bookshop</h4>
                                    <span>$179.99</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="@Url.Action("Details","Products", new { id = 1027})"><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="~/Content/assets/images/GreenBase.jpeg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Green Baseplate</h4>
                                    <span>$7.99</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="@Url.Action("Details","Products", new { id = 6})"><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="~/Content/assets/images/Rollercoaster.jpeg" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Roller Coaster</h4>
                                    <span>$525.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="justify-content:center;">
            <div class="col-md-1" style="display: contents;">
                @Html.ActionLink("View All Products", "Index", "Products", null, new { @class = "btn" })
            </div>
        </div>
    </section>
    <!-- ***** Highlights Ends ***** -->
    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="~/Content/assets/images/AboutUs.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>About Us &amp; Our Skills</h4>
                        <span>We are LEGO lovers that had been missing out on different LEGO pieces that we didn't even know about. So, we sought out to change that. </span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>Retired Bricks helped me find a set that I hadn't seen since my childhood! I am forever grateful!</p>
                        </div>
                        <p>Whether it's what we already have in stock or you're needing our LEGO detectives. We can help you along the way. We want current LEGO lovers and newbies to have a shop that will expand their collection of this magical world.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->
    <!-- ***** Promises Area Starts ***** -->
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Promises</h2>
                        <span>The rules we set to make you experience great.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Satisfaction Guaranteed</h4>
                        <p>If you don't end up loving your purchase. Send it back to us within 30 days and we will refund you no questions asked!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>We Don't Give Up</h4>
                        <p>If you're looking for an item we don't have contact us and we will work diligently to find the exact item you are looking for.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>Free Shipping</h4>
                        <p>Free shipping is guaranteed on all orders over $100! We also include free insurance on your shipping so you can have piece of mind.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Promises Area Ends ***** -->



    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

</body>
</html>